/* STILI GENERALI */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  padding: 2em;
  user-select: none; /* blocco selezione testo */
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 15em;
  margin: 0;
  word-wrap: break-word; /* Assicura che il titolo venga a capo */
  width: 100%; /* Assicura che il titolo non esca fuori dal contenitore */
}


.descrizione {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.immagine {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.poesie {
  font-family: 'Libre Baskerville', serif;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.8;
}

.poesia {
  margin: 2em 0;
  white-space: pre-line;
  text-align: left;
}

.asterisco {
  text-align: left;
  margin: 2em 0 2em 0;
  font-size: 1.5em;
  padding-left: 0.3em; /* leggero rientro se vuoi */
}

/* Stile per il contenitore che include sia il titolo che l'immagine */
.contenitore {
  width: 90%; /* La larghezza massima del contenitore */
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px; /* Spazio in basso per separare il contenuto */
}

/* Stile per l'immagine */
.immagine {
  width: 100%;  /* L'immagine occuperà il 100% della larghezza del contenitore */
  height: auto;  /* Mantiene l'aspetto proporzionale dell'immagine */
  max-height: 45vh;  /* Imposta un'altezza massima pari al 45% dell'altezza della finestra */
  object-fit: cover; /* Adatta l'immagine senza distorsioni */
  margin-bottom: 20px; /* Spazio tra l'immagine e il resto del contenuto */
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  .contenitore {
    width: 95%;  /* Riduce la larghezza massima su mobile */
  }

  .immagine {
    max-height: 40vh;  /* Riduce ulteriormente l'altezza massima dell'immagine su mobile */
  }
}
